%header
.chat-info
  .chat-info__group
    %p.chat-info__group__name
      グループ１
    %p.chat-info__group__member
      Member : mei
  .chat-info__edit
    = link_to "Edit", root_path, class: "chat-info__edit__text"
.chat-main
  .chat-main__message
    %p.chat-main__message__member
      mei
    %p.chat-main__message__day
      2017/07/22 12:00:00
  %p.chat-main__text
    hello!!
  .chat-main__message
    %p.chat-main__message__member
      mei
    %p.chat-main__message__day
      2017/07/22 12:00:00
  %p.chat-main__text
    hello!!
  .chat-main__message
    %p.chat-main__message__member
      mei
    %p.chat-main__message__day
      2017/07/22 12:00:00
  %p.chat-main__text
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
  .chat-main__message
    %p.chat-main__message__member
      mei
    %p.chat-main__message__day
      2017/07/22 12:00:00
  %p.chat-main__text
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
  .chat-main__message
    %p.chat-main__message__member
      mei
    %p.chat-main__message__day
      2017/07/22 12:00:00
  %p.chat-main__text
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
    testtesttesttesttesttesttesttesttesttesttesttest
.chat-form
  .chat-form__input
    = form_for [@group, @message] do |f|
      = f.text_field :text, placeholder: "type a message", class: 'chat-form__input__text'
      .chat-form__input__icon
        = f.label :image, class: 'chat-form__input__icon__image', for: "image_file" do
          %i{"class":"fa fa-picture-o", "aria-hidden":"true"}
          = f.file_field :image, class: 'hidden js-file', id: 'image_file', style: "display:none;"
      = f.button "Send", class: "chat-form__input__button"

=render 'messages/sidebar'

%footer
