%header
.chat-info
  .chat-info__group
    %p.chat-info__group__name
      = @group.name
    - @group.users.each do |user|
      %p.chat-info__group__member
        Member :
        #{user.name}
  .chat-info__edit
    = link_to "Edit", edit_group_path(@group.id), class: "chat-info__edit__text"
= render partial: 'message'
.chat-form
  .chat-form__input
    = form_for [@group, @message] do |f|
      = f.text_field :text, placeholder: "type a message", class: 'chat-form__input__text'
      .chat-form__input__icon
        = f.label :image, class: 'chat-form__input__icon__image', for: "image_file" do
          %i{"class":"fa fa-picture-o", "aria-hidden":"true"}
          = f.file_field :image, class: 'hidden js-file', id: 'image_file', style: "display:none;"
      = f.button "Send", class: "chat-form__input__button"

=render 'messages/sidebar'

%footer
